.service{
    margin-top: 150px;
    position: relative;
  }
  
  .service .row{
    padding-bottom: 130px;
  }
  .service-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .service-text {
    font-size: 12px;
    color: gray;
  }
  